body {
    background: #f5f5f5;
    margin: 0;
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}


.inner {
    background: #ff5252;
    padding: 2em;
    border-radius: 12px;
    width: 320px;
    clip-path: circle(10% at 87% 14%);
    transition: all .3s ease-in-out;
    cursor: pointer;

    &:hover {
        clip-path: circle(75%);
        background: #9C7ADA;
    }

    span {
        float: right;
        font-size: 25px;
        color: #fff;
        font-weight: bold;
        transition: color .5s;
        position: relative;
        margin-right: 4%;
    }

    &:hover span {
        color: rgba(255, 255, 255, 0);
    }

    h2 {
        color: #fff;
        margin: 0;
        font-size: 45px;
        margin-top: 20%;

    }

    p {
        color: #fff;
        margin-top: 10px;
        margin-bottom: 0px;
        font-size: 1.2rem;
    }

    a {
        text-decoration-color: #fff;
        color: #fff;
        text-underline-position: below;
    }

}